div {
    margin: 10px;
}

.card {
    width: 20rem;
    height: 200px;
    background: linear-gradient(90deg, rgb(154, 206, 220), rgb(32, 32, 223));
    border: 2px solid white;
    color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    font-size: 20px;

    outline: 2px solid black;
    margin: 20px;
}

.card2 {
    width: 20rem;
    height: 200px;
    color: rgb(0, 0, 0);
    background: linear-gradient(150deg, rgb(63, 207, 94), rgb(172, 184, 45));
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    outline: 2px solid black;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.box {
    padding: 20px;
    background-color: lightblue;
    margin: 20px;
}

#b {
    grid-column: span 2;
}

@keyframes move {
  0% { transform: translateX(0); }
  50% { transform: translateX(100px); }
  100% { transform: translateX(0); }
}

.transi {
    width: 200px;
    height: 120px;
    background: linear-gradient(90deg, #5893df, #1e3799);
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 40px;
    transition: background 0.3 ease;
    animation: move 2s infinite;
}

.transi:hover {
    background: linear-gradient(90deg, black, white);
}
body{
      background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                url('https://picsum.photos/1200/800');
}