.card {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-style: dotted;
    padding: 10px;
    background: linear-gradient(90deg, blue, rgb(10, 202, 228));
    color: white;
    margin: 30px;
    border-radius: 25px;
    box-shadow: 2px 10px 2px gray;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first {
    background: linear-gradient(90deg, rgb(183, 26, 204), rgb(10, 202, 228));
}

.second {
    transition: background 1s ease;
    background: linear-gradient(90deg, rgb(37, 19, 199), rgb(8, 190, 145));

}

.third {
    background: linear-gradient(90deg, rgb(20, 206, 212), rgb(231, 13, 13));
}

.grid-item {
    height: 150px;
    background-color: lightblue;
}

.grid {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 10px;
}

button {
    height: 40px;
    width: 100px;
    background-color: aqua;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    z-index: 1000;
    transition: transform 0.3s ease-in;

}

button:hover {
    transform: rotate(10deg);

}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1);
    }

    1000% {
        transform: scale(1);
    }



}

button{
    animation: transform 0.6s    infinite;
}
@media (max-width:746px)
{
    .flex{
        flex-direction: column;
    }
    .grid{
        grid-template-columns: 100px;
    }
}
button{
    box-shadow: 0 10px 10px rgb(1, 23, 24);
}